<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/content/main.css" media="screen" title="no title" charset="utf-8">
    <title>C# Code Review</title>
  </head>
  <body>
    <div class="container">
      <header class="section" id="header">
        <h1>Shoe Inventory</h1>
      </header>
      <div class="section" id="stores">
        <h3>Stores</h3>
        <form action="/store/new" method="post">
          <input type="text" name="store-name">
          <button type="submit">Add</button>
        </form>
        @if (Model.AllStores().Count>0)
        {
          @foreach (var item in Model.AllStores())
          {
            <p>@item.GetName()</p>
          }
        }
        else
        {
          <p>No Stores Entered Yet</p>
        }
      </div>
      <div class="section" id="brands">
        <h3>Brands</h3>
        <form action="/brand/new" method="post">
          <input type="text" name="brand-name">
          <button type="submit">Add</button>
        </form>
        @if (Model.AllBrands().Count>0)
        {
          @foreach (var item in Model.AllBrands())
          {
            <p>@item.GetName()</p>
          }
        }
        else
        {
          <p>No Brands Entered Yet</p>
        }
      </div>
      <div class="section" id="stock">
        <h3>Update Stock Info</h3>

      </div>
    </div>
    <a href="/test2">test2</a>
  </body>
