form {
  width:70%;
  margin:auto;
}

label, input {
  display: inline-block;
}
label {
  width:29%;
}
input {
  width:70%;
}
[type=submit] {
  width:100%;
}

.link {
  padding:10px;
  background:lightgray;
  display: block;
  margin: 20px;
  border:1px solid black;
  color:black;
  text-decoration: none;
  text-align: center;
  border-radius:10px;
}

.link:hover {
  color:white;
  background: black;
}


.section {
  border: 2px solid #777;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  width: 400px;
  min-height: 800px;
  text-align: center;
  font-size: 2em;
}

.container {
  width: 90%;
  margin: auto;
}
#header {
  width: 61.5%;
  min-height: 120px;
  margin-left: 550px;
  background-color: #ffb347;
  color: white;
}

#stores {
  float: left;
  margin-left: 550px;
  background-color: lightblue;
}

#brands {
  float: left;
  background-color: pink;
}

#stock {
  float: left;;
  background-color: lavender;
}
